# Core Dependencies
dash>=3.0.0
dash-bootstrap-components>=2.0.0
Flask>=3.0.0
pandas>=2.2.0
requests>=2.32.0
plotly>=6.0.0

# Additional Utilities
gunicorn>=20.1.0

# Other dependencies (installed automatically by the above)
numpy
python-dateutil
pytz
typing-extensions
